<div class="main-header">
  <div class="main-header-left">
    <div class="chatroom-name">
    hogehuge
    </div>
  </div>
  <div class="main-header-right">
    <div class="chat-end-btm">
     <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chats-display">
  <%= render partial: 'message', collection: @messages %>
</div>

<div class="chat-sender">
    <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
      <div class="form-input">
        <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <%= f.submit '送信', class: 'form-submit' %>
    <% end %>
</div>